---
import SoftwareCard from "../components/SoftwareCard.astro";
import Layout from "../layouts/Layout.astro";

const title = "Home";
---

<Layout title={title}>
  <main>
    <section>
      <!-- <h2>Linux用ソフト一覧</h2> -->
      <!-- <p>以下のソフトを開発しています</p> -->

      <!-- <h3>GTK Theme (仮)</h3> -->
      <!-- <a href="/gtk-theme">ホームページ</a> -->
      <!-- <a href="https://github.com/ytkousei/gtk-theme">リポジトリ</a> -->

      <!-- <h3>Calculator App (仮)</h3> -->
      <!-- <a href="/calculator-app">ホームページ</a> -->
      <!-- <a href="https://github.com/ytkousei/calculator-app">リポジトリ</a> -->
    </section>
  </main>
</Layout>

<style></style>
