---

---

<nav
  class="flex justify-between max-w-5xl w-9/12 mx-auto h-7 leading-7 font-sans"
>
  <a href="/" class="">ytkousei</a>

  <ul class="flex justify-around">
    <li class="mr-10">
      <a href="">test</a>
    </li>
    <li>
      <a href="">test</a>
    </li>
  </ul>
</nav>
